* {
  border: none;
  border-radius: 0;
  font-family: "BlexMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #252525;
  color: #f5f5f5;
  border-radius: 8px;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  color: #a1b0b8;
}

#workspaces button.active:first-child { border-radius: 8px 0 0 8px; }

#workspaces button.active { color: #f5f5f5; background: #444444; }
#workspaces button.urgent { color: #f07178; }
#workspaces button:hover { background: #333333; box-shadow: none; }

#idle_inhibitor,
#custom-grayscale,
#custom-blue-light,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#clock,
#tray,
#custom-sleep,
#custom-power {
  padding: 0 8px;
}

#custom-grayscale { color: #c3d82c; }
#custom-blue-light { color: #82aaff; }
#custom-grayscale.disabled,
#custom-blue-light.disabled { color: #a1b0b8; }
#cpu { color: #82aaff; }
#memory { color: #82aaff; }
#temperature { color: #c3d82c; }
#temperature.warning { color: #ffcb6b; }
#temperature.critical { background: #bd2c40; color: #ffffff; }
#network.disconnected, #pulseaudio.muted { color: #a1b0b8; }
#idle_inhibitor.activated { color: #ffcb6b; }

tooltip {
  background: #252525;
  border: 1px solid #444444;
  border-radius: 8px;
  color: #f5f5f5;
}
