[Unit]
Description=Sunshine game-streaming host
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/sunshine
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
